.coverContainer {
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  width: 720px;
  height: 1280px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform-origin: top center;

  .cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(2px);
    transform: scale(1.02);
  }
}

.mainImage {
  box-sizing: content-box;
  width: 550px;
  height: 550px;
}

.authorGlass {
  margin: 64px 0;
}

.author {
  font-size: 64px;
}

.name {
  font-weight: bold;
  font-size: 64px;
  font-family: 'Caveat', cursive;
}

.palaroid {
  position: relative;
  background-color: white;
  box-shadow: 0 0 30px black;
  padding: 30px;
  text-align: center;
}
